.myBtn {
    position: fixed;
    right: 4vw;
    bottom: 2vh;
    z-index: 99;
}

.myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.myBtn > oi oi-chevron-top {
    font-size: 16pt
}