<div class="@Class contact" id="@Id">
    <div class="container">
        <h3 class="title clr">出席回覆</h3>
        <div class="contact-two-grids">
            <div class=" col-md-6">
                <img src="images/p0.jpg" class="img-responsive zoom-img" alt="">

            </div>

            <div id="loading"></div>


            <div class="col-md-6 contact-us">
                <form id="createInvitation">
                    <div class="styled-input">

                        <input type="text" name="name" id="name" placeholder="姓名" required="">

                    </div>

                    <div class="styled-input">

                        <input type="text" name="phone" id="phone" placeholder="手機" required="">



                    </div>
                    <div class="styled-input">

                        <input type="text" name="address" id="address" placeholder="喜帖地址" required="">



                    </div>
                    <div class="styled-input">

                        <input type="number" name="count_person" id="count_person" placeholder="出席人數" required="">



                    </div>

                    <div class="styled-input">

                        <input type="number" name="count_child" id="count_child" placeholder="兒童座椅數量">



                    </div>
                    <div class="styled-input">

                        <input type="number" name="count_veg" id="count_veg" placeholder="素食數量">



                    </div>
                    <div class="styled-input">

                        <textarea name="Message" id="message" placeholder="其他注意事項或祝福小語"></textarea>



                    </div>
                    <div>
                        <div class="click">
                            <input type="submit" value="SEND">
                        </div>
                    </div>
                </form>
            </div>

            <div class="clearfix"> </div>
        </div>


    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "contact";

    [Parameter]
    public string Class { get; set; } = "";
}
