
<div class="days-coming">
    <div class="container">
        <h3 class="title tittle">The Wedding Day</h3>
        <div class="timer_wrap">
            <div id="counter"></div>
            <div class="clear fix"></div>
        </div>
    </div>
</div>

@code {

}
