<div class="@Class services" id="@Id">
    <div class="container">
        <div class="blog-two-grids">
            <h3 class="title clr">新郎&新娘</h3>
            <div class="contact-two-grids">
                <div class="col-md-7 blog-grid left-side">
                    <h4>
                        XXX XXX
                    </h4>
                    <p class="groom-right">
                        XX人，喜歡旅行

                    </p>

                </div>
                <div class="col-md-5 blog-gr">
                </div>
                <div class="clearfix"> </div>
                <div class="image-low-gr">
                    <div class="blog-top-grids low-grid">
                        <div class="col-md-5 blog-br">
                        </div>
                        <div class="col-md-7 blog-grid right-side ">
                            <h4>
                                XXX XXX
                            </h4>
                            <p>
                                XX人，喜歡日本

                            </p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "services";

    [Parameter]
    public string Class { get; set; } = "";
}
