@page "/Blessing"
@implements IAsyncDisposable

<PageTitle>想說的話</PageTitle>

<AuthorizeView>
    <Authorized Context="auth">
        <div class="input-header"></div>
        <div class="input-form">
            <input class="form-control" @bind="_messageInput" placeholder="請輸入您想對我們說的話..." @bind:event="oninput"/>

            <div class="button-container">
                <button class="btn btn-primary" disabled="@(string.IsNullOrWhiteSpace(_messageInput) || !IsConnected)"  @onclick="Send">Send</button>
            </div>
            <div class="blessing-block">
                <div class="blessing-header">
                    <span>您總共對我們說了 @_blessingTotalCount 次祝福的話</span>
                </div>
                <div class="blessing-message">

                    @foreach (var blessing in _blessingList)
                    {
                        <div>@blessing.Message</div>
                    }
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
