@page "/"
@inject IJSRuntime JS

<div id="fullpage">
    <Banner class="section" Id="section0" />
    <About class="section" Id="section1" />
    <Services class="section" Id="section2" />
    <Gallery class="section" Id="section3" />
    <Contact class="section" Id="section4" />
</div>
<Backtop />

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var objRef = DotNetObjectReference.Create<object>(new
            {
                licenseKey = "OPEN-SOURCE-GPLV3-LICENSE",
                anchors = new[] { "banner", "about", "services", "gallery", "contact" }
            });

            await JS.InvokeVoidAsync("fullpage", "#fullpage", objRef.Value).ConfigureAwait(false);
        }
    }
}

