@page "/Manage"
@using Wedding.Data

<link href="_content/GridBlazor/css/gridblazor.min.css" rel="stylesheet" />
<link href="_content/GridBlazor/css/gridblazor-bootstrap3.min.css" rel="stylesheet" />

<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>ManagePage</h3>
        <div class="row">
            <div class="col-md-12">
                <GridComponent T="Customer" Grid="@_grid" ></GridComponent>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>

<style>
    .IsAttendNull {
        background-color: #ff000061 !important;
    }
</style>