@page "/Photo"
@inject IJSRuntime JS

<div class="card h-auto">
    <div id="BulletScreensDiv" style="top:25px; height: 30%; width: 100%; position: absolute; z-index: 2"></div>
    <video id="WeddingVideo" style="max-width:2176px; width: 100%" muted autoplay loop>
        <source src="@_videoSrc" type="video/mp4">
    </video>
</div>

<style>
video {
  position: fixed;
}
</style>