<div class="about @Class" id="@Id" style="@Style">
    <div class="container">
        <h3 class="title">時間地點</h3>
        <div>
            <div class="about-top-grids">

                <div class=" col-md-12 contact-icons">

                    <div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left">
                        <div class="icon_grid_left">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                        </div>
                        <br />
                        <h1>地址</h1>
                        <br />
                        <br />
                        <p>88號樂章 婚宴會館<span>花之圓舞曲</span><span>台北市內湖區民善街88號5樓</span></p>
                        <br />
                        <br />
                    </div>
                    <div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left">

                        <div class="icon_grid_left">
                            <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                        </div>
                        <br />
                        <h1> 時間</h1>
                        <br />
                        <br />
                        <p>2022年03月13日 <span>中午12點整</span><span>（敬請準時入席）</span></p>
                        <br />
                        <br />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "about";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

}
