div .about {
  background: url(https://cdn.wedding.weiting.me/web/AN8_1502-min.jpeg) no-repeat bottom;
}

.title {
  color: #FFF;
}

.footer_grid_left h1, p {
  color: #000;
  font-weight: 400;
}

.footer_grid_left p {
  font-size: 20px;
}

.footer_grid_left {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.4);
  min-height: 260px;
}
