<div class="about @Class" id="@Id" style="@Style">
    <div class="container">
        <h3 class="title">時間地點</h3>
        <div>
            <div class="about-top-grids">

                <div class=" col-md-12 contact-icons">

                    <div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left white-shadow2 ">
                        <div class="icon_grid_left">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                        </div>
                        <br />
                        <h1>地址</h1>
                        <br />
                        <br />
                        <p>88號樂章 婚宴會館<span>花之圓舞曲</span><span>台北市內湖區民善街88號5樓</span></p>
                        <br />
                        <br />
                    </div>
                    <div class=" col-md-6 col-sm-6 col-xs-6 footer_grid_left white-shadow2">

                        <div class="icon_grid_left">
                            <span class="fa fa-volume-control-phone" aria-hidden="true"></span>
                        </div>
                        <br />
                        <h1> 時間</h1>
                        <br />
                        <br />
                        <p>2022年03月13日 <span>中午12點整</span><span>（敬請準時入席）</span></p>
                        <br />
                        <br />
                    </div>
                </div>
                <div class="clear fix"></div><div class="clear fix"></div>
                <div class="col-md-12 ">
                    <div class="map-grid">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.2263451407925!2d121.57298581566582!3d25.06031638396002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab2415b5aa0d%3A0x6674fcc98a69ba07!2zODjmqILnq6Ag5Y-w5YyX5ama5a605pyD6aSo77yI5YWn5rmW77yJfCDlqZrlrrTppJDlu7MgfCDlqZrlrrTloLTlnLAgfCDlsL7niZnmmKXphZI!5e0!3m2!1szh-TW!2stw!4v1642356751907!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "about";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

}
