<div class="@Class gallery" id="@Id" style="@Style">
    <h3 class="title" style="height: 10%;">Gallery</h3>
    <div style="height: 90%; display: flex; flex-wrap: wrap;">
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/g1.jpg" data-lightbox="example-set" data-title="京都植物園，滿開的櫻花">
                    <img src="images/g1.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/p1.jpg" data-lightbox="example-set" data-title="京都植物園，滿開的櫻花">
                    <img src="images/p1.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/p2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/p2.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/g2.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/g3.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/g5.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/p4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/p4.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="gallery-grids">
            <div class="w3ls-hover">
                <a href="images/p3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                    <img src="images/p3.jpg" class="img-responsive zoom-img" alt="">
                    <div class="view-caption">
                        <h5>照片故事</h5>

                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>

</div>

<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">非常感謝你的填寫</h4>
            </div>
            <div class="modal-body">
                <div class="out-info">
                    <img src="images/mol1.jpg" alt="" />
                    <!-- Button code -->

                    <div class="modal-title">
                        <div title="加到行事曆上" class="addeventatc">
                            加到行事曆上
                            <span class="start">12/22/2019 12:00 PM</span>
                            <span class="end">12/22/2019 03:00 PM</span>
                            <span class="timezone">Asia/Taipei</span>
                            <span class="title">XXX</span>
                            <span class="description">12點準時入席，XXX</span>
                            <span class="location">XXXX</span>
                        </div>
                    </div>

                    <p>若有任何問題或狀況，歡迎隨時與我們聯繫。</p>
                    <p>期待婚禮當天與你/妳相見！</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal about-modal fade" id="loadingModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">資料上傳中</h4>
            </div>
            <div class="modal-body">
                <div class="out-info">
                    <img src="images/ajax-loader.gif" id="loadingImg">

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "gallery";

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";
}
