@page "/"

<div class="section">
    <Banner Style="height: 65vh;" />
    <Countdown Style="height: 35vh;"/>
</div>
<div class="section">
    <About />
</div>
<div class="section">
    <Services />
</div>
<div class="section">
    <Gallery />
</div>
<div class="section">
    <Contact />
</div>
<Backtop />

@code{

}
